$pad:15px;
$max-width-custom-home__item:400px;
$max-width-custom-home__item--md:300px;
$box-shadow-custom-home-img:0 10px 12px -8px rgba(black,.2);
$color-1:#2c91ad;
$color-bg-custom-home__wrapper:#fff;